  body {
    font: normal 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    background: #efefef;
  }

  #player {
    margin: 0 auto;
    width: 500px;
  }

  #player li {
    list-style-type: none;
  }

  .view-progress-bar {
    height: 10px;
    width: 500px;
    background: #EEE;
    position: relative;
    margin-top: 10px;
  }

  .view-progress-bar .buffering-bar {
    height: 10px;
    width: 0;
    background: #AAA;
    cursor: pointer;
    position: relative;
  }

  .view-progress-bar .progress-bar {
    height: 10px;
    width: 0;
    background: #444;
    position: relative;
    top: -10px;
  }

  .queue, .queue ul {
    padding: 0;
    margin: 0;
    width: 500px;
  }

  .queue li {
    cursor: pointer;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
  }

  .queue li:hover {
    background: #dedede;
    border-bottom: 1px solid transparent;
    border-top: 1px solid #fff;
  }

  .queue li.current {
    background: #ddd;
  }

  .queue > li:first-child {
    border-top: 0;
  }

  .queue ul li {
    padding-left: 30px;
  }

  .queue li .artist {
    font-weight: bold;
  }

  .controls {
    text-align: center;
  }

  .controls a {
    color: #333;
    padding: 10px 6px;
    text-decoration: none;
    font-size: 3em;
  }

  .controls a:hover{
    color: #111;
    text-shadow: 1px 1px 1px #fff;
  }

  .controls a:active {
    color: #009bd9;
  }
